absl-py==2.2.1
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
biopython==1.85
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cors==1.0.1
cycler==0.12.1
decorator==5.2.1
dill==0.4.0
distro==1.9.0
dotenv==0.9.9
executing==2.2.0
fastapi==0.115.12
filelock==3.17.0
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.2.0
future==1.0.0
gast==0.6.0
gevent==25.4.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
greenlet==3.2.0
GridDataFormats==1.0.2
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.11.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
keras==3.9.2
keras-nightly==3.9.0.dev2025042303
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mda-xdrlib==0.2.0
MDAnalysis==2.9.0
mdurl==0.1.2
ml_dtypes==0.5.1
mmtf-python==1.1.3
mpmath==1.3.0
mrcfile==1.5.4
msgpack==1.1.0
multiprocess==0.70.18
namex==0.0.8
networkx==3.4.2
nibabel==5.3.2
numpy==2.3.2
openai==2.3.0
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
patchify==0.2.3
pillow==11.1.0
prolif==2.0.3
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==5.29.4
pure_eval==0.2.3
py3Dmol==2.4.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
rcsbsearch==0.2.3
rcsbsearchapi==2.0.1
rdkit==2024.9.5
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
rich==14.0.0
rpds-py==0.24.0
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.16.1
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.46.2
sympy==1.13.1
tb-nightly==2.19.0a20250218
tensorboard-data-server==0.7.2
termcolor==3.0.1
tf_nightly==2.21.0
threadpoolctl==3.5.0
tldextract==5.2.0
tokenizers==0.21.1
torch==2.2.2
torchtext==0.17.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.34.2
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
zope.event==5.0
zope.interface==7.2
